/*fonts
font-family: 'Source Code Pro';
font-family: 'Nixie One', cursive;*/

/*SHARED STYLING*/

body {
  width: 100%;
  margin: 0 auto;
  font-size: large;
  font-family: 'Nixie One', cursive;
}

header > div {
  position: fixed;
  right: 2%;
  text-align: center;
  z-index: 3;
  color: #C6C9CE;
  transition: color 0.7s ease;
}

#logo {
  font-size: 230%;
  bottom: 2%;
}

#sidebar {
  top: 44%;
  min-width: 12%;
  text-align: right;
  font-size: 110%;
}

#sidebar > div {
  display: block;
  margin: 5px auto;
  font-family: 'Source Code Pro';
  font-weight: 700;
}

#sidebar i {
  padding-left: 3%;
}

#sidebar i:hover {
  cursor: pointer;
  color: #FBA24C;
}

#sidebar span {
  opacity: 0;
  color: #FBA24C;
  transition: opacity 0.7s ease;
}

main > div {
  background-color: #242D36;
  /*border: 1px white solid; /*delete later*/
}

/*GREETING*/

#greeting-section {
  position: relative;
  min-height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}

#name {
  position: absolute;
  top: 48%;
  padding: 0 2%;
  font-size: 400%;
  color: #C6C9CE;
  z-index: 1;
}

#name > span {
  font-size: 70%;
  color: #FBA24C;
}

#title {
  /*transition: opacity 0.8s ease;*/
  animation: changeWord 3s infinite;
}

@keyframes changeWord {
  0%   { animation-timing-function: infinite; opacity: 0; }
 10%   { opacity: 0.5 }
 20%   { opacity: 0.8 }
 30%   { opacity: 1 }
 100%  { opacity: 0 }
}

/*SHARED SECTION*/

.section-title {
  padding-bottom: 2%;
  font-family: 'Nixie One', cursive;
  font-size: 150%;
  color: #465967;
  background-color: #C6C9CE;
  opacity: 0.8;
}

.section-content {
  padding: 5% 5%;
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 150%;
  background-color: #C6C9CE;
  opacity: 0.8;
  /*border: 1px solid blue;*/
}

/*PORTFOLIO*/

/*portfolio 'list' state*/
.project{
  padding-top: 2%;
  min-height: 360px;
  position: relative;
}

.project > div {
  width: 70%;
  margin: 2% auto;
  text-align: center;
  color: #465967;
  /*border: 1px solid blue;*/
}

.preview-img {
  width: 100%;
  border-radius: 100%;
  border: 10px #94B6B8 solid;
  transition: border-color 0.5s ease;
}

.preview-img:hover {
  border: 10px #FBA24C solid;
  cursor: pointer;
}

.project-name {
  font-size: 1.3em;
}

#back-to-list, #site-link, #github-link {
  text-decoration: none;
}

#back-to-list:hover, #site-link:hover, #github-link:hover {
  color: #FBA24C;
  cursor: pointer;
}

#project-preview, #project-info {
  min-height: 360px;
  position: relative;
  /*border: 1px solid black;*/
}

#screen-shot {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
}

#project-info > div {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#project-info i {
  color: #FBA24C;
}

#project-description {
  padding: 2% 0;
  font-size: 80%;
  font-weight: 400;
}

#skills {
  background-color: #75989E;
  text-align: center;
  font-size: 60%;
}

#skills > div {
  margin: 0.3% 5%;
  width: 10%;
  display: inline-block;
}

/*ABOUT*/

#about-section {
  background-image: url('/images/stone-vertical.png');
  background-size: 100%;
}

#about-content {
  padding: 1% 10%;
  margin-bottom: 2%;
  font-size: 0.8em;
  font-weight: 400;
}

#about-content > div {
  padding-bottom: 1%;
}

#about-content span {
  font-weight: 700;
  color: #465967;
}

/*CONTACT*/

#contact-section {
  min-height: 90vh;
  background-color: #465967; /*#750303*/
}

#contact-info {
  padding: 2.3% 4%;
  font-size: 85%;
}

#contact-info > div {
  padding: 1% 0;
}

#contact-info a {
  color: #75989E;
}

#contact-info i {
  font-size: 200%;
  color: #75989E;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  width: 55%;
  border: 10px solid #94B6B8;
  border-radius: 100%;
}

